:root{
  --mainBlue:#0277bd;
  --lghtBlue:#81d4fa;
  --mainWhite:#fafafa;
  --mainDark:#263238;
  --mainYellow:#ffeb3b;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
}